!!! 5
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        link(rel='stylesheet', href='http://192.168.0.10/pong.js/assets/css/jquery.mobile.min.css')
        link(rel='stylesheet', href='http://192.168.0.10/pong.js/assets/css/controle.css')
        title Controle - Telejogo
        script(src='http://192.168.0.10/pong.js/assets/js/jquery.min.js')
        script(src='http://192.168.0.10/pong.js/assets/js/jquery.mobile.min.js')
        script(src='http://192.168.0.10:8080/socket.io/socket.io.js')
        script(src='http://192.168.0.10/pong.js/assets/js/util.js')
        script(src='http://192.168.0.10/pong.js/assets/js/controle.js')

    body(id="#{id}")
        header
            h1 Telejogo.JS
        section
            input(type="range", name="move", id="move", value="50", min="0", max="100", data-show-value="true", data-popup-enabled="true")