/*
	Author: Vagner Santana;
			vagnersantana.com
*/

*, html{
    margin: 0;
    padding: 0;
}
body{
    background: #27282C url(../img/bg.jpg) no-repeat;
}
div, section, footer, aside, header{
    border:1px dotted transparent;
}
.container{
    width: 1342px;
    height: 917px;
}
.tela{
    float:left;
    width: 780px;
    height: 600px;
    margin-top: 120px;
    margin-left: 120px
}
.controle{
    float:right;
    width: 280px;
    height: 415px;
    margin-right: 47px;
    margin-top: 50px;
}
.controle h1{
    text-align: center;
}
.marca{
    margin-top: 860px;
    text-align: center;
    font-size: 3em;
}
.marca a{
    color: #000;
    text-decoration: none;
}
