*, html{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    background: #27282C url(../img/bg.png) no-repeat;
}
div, section, footer, aside, header{
    border:1px dotted transparent;
}
.container{
    width: 1342px;
}
.screen{
    float:left;
    width: 780px;
    height: 500px;
    margin-top: 160px;
    margin-left: 160px
}
.controle{
    float:right;
    width: 280px;
    height: 415px;
    margin-right: 47px;
    margin-top: 50px;
}
.controle-btn{
    position: absolute;
}
.controle h1{
    text-align: center;
}
.marca{
    margin-top: 860px;
    text-align: center;
    font-size: 3em;
}
.marca a{
    color: #000;
    text-decoration: none;
}
.btn{
    width: 50px;
    height: 70px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: .7em;
}
.start{
    position: absolute;
    top: 60px;
    left: 18px;
}
.pause{
    position: absolute;
    top: 165px;
    left: 18px;
}

.btn3{
    position: absolute;
    top: 248px;
    left: 18px;
}
.lang-selector{
    position: absolute;
    top: 188px;
    left: 132px;
    width: 122px;
    height: 122px;
}
.lang-selector-es{
    background: url(../img/selector-es.png) no-repeat;
}
.lang-selector-en{
    background: url(../img/selector-en.png) no-repeat;
}
.lang-selector-pt{
    background: url(../img/selector-pt.png) no-repeat;
}
.lang{
    position: absolute;
    width: 20px;
    height: 20px;
    font-size: 15px;
}
.lang.es{
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.lang.en{
    left: 50;
    top: -20;
}
.lang.pt{
    left: 100;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
/*JOYSTICK*/
.joystick{
    position: absolute;
    width: 200px;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.joystick.one{
    left:230;
}
.joystick.two{
    left:570;
}
.message-error{
    color: #ff0000;
}
.message-warning{
    color: #df8505;
}
.message-success{
    color: #00ff00;
}

.text.input{
    border:0;
    background-color: #000;
    color: green;
    font-family:"Courier New";
    font-size: 1.2em;
}

.text.input.id{
    position: absolute;
    width: 185px;
    top: 63;
    left: 80;
}