*, html{
    margin: 0;
    padding: 0;
}
body{
    background: #27282C url(../img/bg.jpg) no-repeat;
}
div, section, footer, aside, header{
    border:1px dotted transparent;
}
.container{
    width: 1342px;
}
.tela{
    float:left;
    width: 780px;
    height: 500px;
    margin-top: 160px;
    margin-left: 160px
}
.controle{
    float:right;
    width: 280px;
    height: 415px;
    margin-right: 47px;
    margin-top: 50px;
}
.controle-btn{
    position: absolute;
}
.controle h1{
    text-align: center;
}
.marca{
    margin-top: 860px;
    text-align: center;
    font-size: 3em;
}
.marca a{
    color: #000;
    text-decoration: none;
}
.btn{
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-indent: 50;
    font-weight: bold;
}
.start{
    position: absolute;
    top: 79px;
    left: 18px;
}
.restart{
    position: absolute;
    top: 185px;
    left: 18px;
}
#qr{
    margin-left: 140px;
    margin-top: 40px;
}
